.idea*
Practice*
ViewerCode*
Backups*

.#*
#*
*~
Solution*csv
solution*csv
sample_assignments.csv
*log


Data/ScheduleSampleHeader.txt

697shell
Data/InstructorConstraintsFull.csv
Data/CourseConstraints.short.csv
Data/CourseConstraints.long.csv
Data/CourseConstraints.long_trimmed.csv