.idea*
Practice*
ViewerCode*
Backups*

.#*
#*
*~
Solution*csv
solution*csv

*log


Data/ScheduleSampleHeader.txt

697shell
Data/InstructorConstraintsFull.csv
Data/CourseConstraints.short.csv
Data/CourseConstraints.long.csv